@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";

/*utilidades*/
@import "./utilidades/componentes.css";

/* Home */
@import "./home/introducao.css"; 
@import "./home/tecnologia.css";

/*Bicicletas*/
@import "./bicicletas/bicicletas-lista.css";

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
ul,
p {
  margin: 0px;
}
img {
  max-width: 100%;
  display: block;
  
}

